---
import BaseLayout from "../layout/BaseLayout.astro";

import bgImage from "../assets/bg/forest.avif";
import grainSvg from "../assets/grain.svg";
import avatarSvg from "../assets/avatar.svg";

import {Image, getImage} from "astro:assets";
import Chapter from "../components/chapter.astro";
import DecoBall from "../components/DecoBall.astro";

const bg = await getImage({ src: bgImage, format: "jpeg" });
---

<BaseLayout>
	<div class="main">
		<div class="hero">
			<div class="bg" style={`--bg: url(${bg.src}); --grain: url(${grainSvg.src});`} />
			<Image src={avatarSvg} alt="Avatar" class="avatar" />
			<div class="content">
				<div class="links">
					<a href="mailto:froehlich.alexander@pm.me">froehlich.alexander@pm.me</a>
					<a href="https://github.com/froehlichA">Github</a>
				</div>
				<div class="heading">
					<h1>fröhlich:alex</h1>
					<span>My Web Directory</span>
				</div>
				<div class="colorline">
					<div class="cyan"></div>
					<div class="magenta"></div>
					<div class="yellow"></div>
					<div class="black"></div>
				</div>
			</div>
		</div>
		<div class="desc">
			<p>I am a software engineer developing primarily for the web.</p>
			<p>I design, code, and worry about the little things.</p>
			<p>These are my collected works.</p>
		</div>
		<div class="projects">
			<Chapter name="Projects">
				<ul>
					<li>
						<a href="https://blinkdb.io/">BlinkDB</a>
						<p>An in-memory database optimized for offline first web apps.</p>
					</li>
					<li>
						<a href="https://github.com/froehlichA/pax">pax</a>
						<p>A minecraft modpack manager. Useful when nostalgia hits.</p>
					</li>
				</ul>
			</Chapter>
			<Chapter name="Tools">
				<ul>
					<li><a href="https://files.froehlich.network/">P2P File Distribution</a></li>
					<li><a href="https://hungry.froehlich.network/">Restaurants in my area</a></li>
					<li><a href="https://feedback.froehlich.network/">Anonymous feedback</a></li>
					<li><a href="https://vote.froehlich.network/">Online poll</a></li>
					<li><a href="https://initiative.froehlich.network/">Initiative tracker</a></li>
				</ul>
				<p>Mostly written for personal use. Put online for friends and family.</p>
			</Chapter>
			<Chapter name="Libraries / Misc.">
				<ul>
					<li><a href="https://github.com/froehlichA/obsidian-avatar">Avatar Image for Obsidian</a></li>
					<li>
						<a href="https://github.com/froehlichA/driverOS">My custom OS</a>
						<p>My daily driver OS is completely declarative. The config for this is hosted on Github.</p>
					</li>
				</ul>
			</Chapter>
			<DecoBall />
		</div>
	</div>
</BaseLayout>

<style>
	.main {
		padding: 6vw;
	}

	.hero {
		position: relative;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(8, 1fr);
		padding: 3em;
	}

	.bg {
		position: absolute;
		left: 0;
		top: 0;
		height: calc(100% / 8 * 7);
		width: 100%;
		border-top-left-radius: 42px;
		border-top-right-radius: 42px;

		background-image: var(--grain), var(--bg);
		background-position: center, center bottom;
		background-size: auto, cover;
		filter: contrast(150%) saturate(110%) brightness(120%);
		background-attachment: fixed;
		background-repeat: repeat, no-repeat;

		z-index: -1;
	}

	.avatar {
		grid-column: span 1;
		grid-row: span 8;

		height: 100%;
		width: 100%;
		max-height: 95vh;
		object-fit: contain;
	}

	.content {
		grid-column: span 2;
		grid-row: span 7;

		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 2em;
		align-items: end;

		color: white;
	}

	.links {
		grid-column: span 2;
		font-size: 1.2em;
	}

	.links > * + * {
		margin-left: 1em;
		border-left: 1px solid white;
		padding-left: 1em;
	}

	.heading {
		grid-column: span 2;
		text-align: end;
	}

	.heading h1 {
		font-size: min(8em, 12vw);
		font-style: italic;
		color: aliceblue;
		mix-blend-mode: exclusion;
		margin: 0;
	}

	.heading span {
		font-size: min(2em, 6vw);
	}

	.colorline {
		grid-column: span 2;
		display: flex;
	}

	.colorline > * {
		height: 1em;
		width: 1em;
	}

	.cyan {
		background: cyan;
	}

	.magenta {
		background: magenta;
	}

	.yellow {
		background: yellow;
	}

	.black {
		background: black;
	}

	.desc {
		margin: 2em 0;
		font-size: clamp(2em, 7vw, 3em);
		line-height: 1.2em;
	}

	.desc p {
		margin: 0;
	}

	.projects {
		font-size: 1.4em;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		grid-template-rows: repeat(auto-fill, 1fr);
		grid-auto-flow: row dense;
		gap: 2em;
	}

	a {
		color: inherit;
		text-decoration: underline;
	}

	@media only screen and (max-width: 660px) {
		.hero {
			grid-template-columns: 1fr;
			margin: -6vw -6vw 0 -6vw;
		}

		.avatar {
			max-height: 80vh;
		}

		.bg {
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			border-bottom-left-radius: 42px;
			border-bottom-right-radius: 42px;

			height: 65%;
		}

		.content {
			margin-top: 4em;
			color: black;
			border-radius: 12px;
			align-items: center;
		}

		.colorline {
			display: none;
		}
	}
</style>
