<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="generator" content={Astro.generator} />
  <title>froehlich.network</title>
</head>
<body>
<slot />
</body>
</html>

<style>
  head, body {
    margin: 0;
    padding: 0;
  }

  body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color: aliceblue;
  }
</style>
